body {
  font-family: 'Lato', sans-serif;
  background: #6cf;
}

.container {
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
}

.questions {
  padding: 10px;
  font-size: 15px;
  background: #08038C;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.choices {
  width: 94%;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255,255,255,0.5);
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px;
}

.next-qtn, #start, .restart {
  border: none;
  outline: none;
  background: rgba(255,25,255,0.5);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px;
  top: 478px;
  /* position: fixed; */
  right: 20px;
}

.score {
  font-size: 30px;
  color: #08038C;
}
.title {
  font-size: 30px;
  color: #08038C;
}
.startPage, .container-result {
  font-family: -webkit-pictograph;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255,255,255,0.5);
  padding: 15px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #08038C;
}




@media screen and (min-width: 850px) {

.startPage {
  font-family: -webkit-pictograph;
  /* height: 330px;
  width: 1000px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: #08038C;
  
}

#start {
  border: none;
  outline: none;
  background: rgba(255,25,255,0.5);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: center;
  margin: 10px;
}
.score {
  font-size: 40px;
  color: #08038C;
  /* position: fixed; */
  top: 340px;
  display: inline;
}
.container {
  display: inline;
  /* height: 355px;
  width: 1000px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
}

.title {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #08038C;
}

.questions {
  padding: 20px;
  font-size: 18px;
  background: #08038C;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}

.choices {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 15px;
  vertical-align: middle;
  background: rgba(255,255,255,0.5);
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px;
}

.choices:hover {
  background: #08038C;
  color: #f6f6f6;
}

.next-qtn {
  border: none;
  outline: none;
  background: rgba(255,25,255,0.5);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 10px;
  top: 478px;
  /* position: fixed; */
  right: 20px;
}

.next-qtn:hover {
  background: #08038C;
  color: #f6f6f6;
}


.choices input:checked .choices {
  background: #08038C;
  color: #000;
}

.container-result {
  text-align: center;
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
}

.answers {
  text-align: center;
  font-size: 17px;
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translateY(0%) translateX(25%);
  background: rgba(255,255,255,0.5);
  padding: 20px;
  border: 1px solid #08038C;
  box-shadow: 0 0 8px 3px #fff;
}

.restart {
  border: none;
  outline: none;
  background: rgba(255,25,255,0.5);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: center;
  margin: 10px;
}

.restart:hover {
  background: #08038C;
  color: #f6f6f6;
}

#start:hover {
  background: #08038C;
  color: #f6f6f6;
}
}

@media screen and (min-width: 480px) {
  body {
    justify-content: center;
    align-items: center;
    
  }